# Ignore useless folders
mimeapps.list
autoconfig.yml
bookmarks/
qutebrowser/quickmarks
wal/
batchange2
dvork7min
testout
Caprine/
'Code Industry'/
Kingsoft/
QtProject.conf/
Thunar/
cef_user_data/
chromium/
dconf/
font-manager/
fontconfig/
fontforge/
geany/
glib-2.0/
gtk-2.0/
gtk-3.0/
lxqt/
mimeapps.list/
mpv.conf/
openbox/
pcmanfm-qt/
pulse/
qterminal.org/
transmission/
user-dirs.dirs/
user-dirs.locale/
viewnior/
xfce4/
zathura/
lib/
caprine*
share/
state/
gitpacks/
